<div class="container">
  <div class="row">
    <h3>会員登録情報編集</h3>
  </div>

  <%= form_with model: @customer do |f| %>
  <div class="row">
    <div class="col-4">
      <%= f.label :"ユーザーネーム" %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :"好きなゲーム"%>
      <%= f.text_area :like_game, class: 'form-control' %>

      <%= f.submit "編集する", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
  <%= link_to '退会する', confirm_withdraw_path, class:"btn btn-danger" %>
</div>