<div class="container">
  
  <div class="row">
    <div class="mx-auto">
      <h3>新規登録</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-3 mx-auto mt-3">
      
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer',class: 'new_customer', local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :"ユーザーネーム" %><br />
          <%= f.text_field :user_name, class: 'form-control'%>
        </div>

        <div class="field">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :"パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :"パスワード（確認用）" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class:"btn btn-primary" %>
        </div>
      <% end %>
      
      <h4>既に登録済みの方</h4>
      <p><%= link_to "こちら", new_customer_session_path, class: "underline" %>からログインしてください。</p>
    </div>
  </div>

</div>